# L1_CHAT_MODEL=phi3:mini
# L1_JUDGE_MODEL=phi3:mini
# L1_EMBEDDING_MODEL=nomic-embed-text
L1_CHAT_MODEL=@azure-openai-eus2-5./gpt4
L1_JUDGE_MODEL=@azure-openai-eus2-5./gpt4
L1_EMBEDDING_MODEL=nomic-embed-text
PORT_KEY_KEY=XXXXXXXXXXXXXXXXXXXXXXX
PORT_KEY_URL=https://portkeygateway.XXXXXX.com/v1
