@use '../../theme/theme.module.scss' as *;

.container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--palette-neutral-100);
  color: var(--palette-neutral-500);

  svg {
    font-size: 2rem;
  }

  .home_logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
  }

  .links {
    display: flex;
  }
  
  .settings {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1rem;
  }
}

