$palettes: (
  light: (primary: (500: #212529,
      400: #495057,
      300: #adb5bd,
      200: #dee2e6,
      100: #f8f9fa),
    secondary: (),
    neutral: (),
  ),
  dark: (primary: (500: #f8f9fa,
      400: #dee2e6,
      300: #adb5bd,
      200: #495057,
      100: #212529),
    secondary: (),
    neutral: (),)
);